<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/frontend/css/registerstyle.css">
</head>

<body>
    <div class="container">
        <h1>Register</h1>
        <div class="register-container">
            <form ng-submit="register()" name="registerForm">
                <div class="form-group">
                    <label for="username">Username :</label>
                    <input type="text" id="username" ng-model="user.username" required>
                </div>       
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" id="email" ng-model="user.email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" id="password" ng-model="user.password" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        title="Password must have at least 8 characters, including uppercase, lowercase, number, and symbol.">
                </div>            
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password :</label>
                    <input type="password" id="confirmPassword" ng-model="user.confirmPassword" required>
                </div>           
                <div class="form-group">
                    <label for="firstName">First Name :</label>
                    <input type="text" id="firstName" ng-model="user.firstName" required>
                </div>            
                <div class="form-group">
                    <label for="lastName">Last Name :</label>
                    <input type="text" id="lastName" ng-model="user.lastName" required>
                </div>
            
                <div class="form-group">
                    <label for="BOD">Date of Birth :</label>
                    <input type="date" id="BOD" ng-model="user.BOD">
                </div>
                <div class="form-group gender-option">
                    <label for="gender">Gender :</label> 
                    <select id="gender" ng-model="user.gender">
                        <option value="">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>     
                <div class="form-group">
                    <label for="address">Address :</label>
                    <textarea id="address" ng-model="user.address" rows="3" style="resize: none; width: 100%; height: 60px; font-size: 18px;"; placeholder="Enter your address"></textarea>
                </div>
                <br>   
                <button type="submit">Register</button>
            </form>
        </div>

        <p>Already have account? <a href="#!/login">Login here</a></p>
    </div>
</body>

</html>